 <!-- Top bar navigation menu -->
 <nav class="navbar navbar-expand-sm navbar-light" style="background-color:rgba(32, 32, 32, 0);">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a href="main">Home</a>
        </li>
        <li class="nav-item">
            <a href="reviews">Reviews</a>
        </li>
    </ul>

    <!-- Search bar -->
    <div class="center rec">
        <form class="navbar1" action="/get_feed" method="post">
            <div class="row">
              <div class="col-3">
  
              </div>
              <div class="col-5">
                <input class="form-control" type="text" name="title" placeholder="Enter Meal Name">
              </div>
              <div class="col-1">
                <input class="btn btn-light" type="submit" name="Submit" value = "Submit"/>
              </div>
            </div>
        </form>
    </div>
</nav>
